In [21]:
import pandas as pd
PATH_TO_DATA = "../../data/comments_testdata_small.csv"

df = pd.read_csv(PATH_TO_DATA)
df.head()

   Index                                            Comment
0   2512  Teach xxxx manners. Better pay less hours. Pay...
1   2513  Not really looking after your employees. Make ...
2   2516  I have several good experiences with all my ma...
3   2517  Work / home life balance inadequate. My holida...
4   2518  Drivers rotas are not acceptable. No time for ...